<% if @product.assemblies_parts.any? %>
  <div class="columns col-12">
    <h6><%= I18n.t('spree.parts_included') %></h6>

    <% @product.variants_or_master.each do |variant| %>
      <ul id="products" class="inline product-listing list-unstyled assemblies_variant assemblies_for_variant_<%= variant.id %>" data-hook style='display:none;'>
        <% variant.parts_variants.includes(:part).each do |part_variant| %>
          <% part = part_variant.part %>
          <li id="product_<%= part.product.id %>" class="d-flex w-100 col-12 col-sm-6 col-lg-4 col-xl-3 product-list-item mb-4" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
            <div class="product-image">
              <%= link_to url, itemprop: "url", class: 'd-block text-center' do %>
                <%= image_tag(main_app.url_for(part.product.image.first.url(:small)), class: "d-block mx-auto"), part.product %>
                <%= content_tag(:span, truncate(part.product.name, length: 50), part.product, class: 'info mt-3 d-block', itemprop: "name", title: part.product.name) %>
              <% end %>
            </div>

            <% if !part.in_stock? && !part_variant.variant_selection_deferred? %>
              <% if part.is_backorderable? %>
                <div class="on-backorder"><%= I18n.t('spree.backorderable') %></div>
              <% else %>
                <div class="out-of-stock"><%= I18n.t('spree.out_of_stock') %></div>
              <% end %>
            <% end %>

            <% if part_variant.variant_selection_deferred? %>
              <div class="variant-selection-deferred">
                <% product = part.product %>
                <%= label_tag "options_selected_variants_#{part.id}", I18n.t('spree.variant') %>

                <% opts = product.variants.map { |v| [variant_options(v), v.id] } %>
                <% opts_disabled = product.variants.each_with_object([]) { |v, o| o << v.id if !v.in_stock? && !v.is_backorderable? } %>

                <%= select_tag "options[selected_variants][#{part.id}]", options_for_select(opts, disabled: opts_disabled)%>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%= javascript_tag do %>
      (function(){
        $('.assemblies_variant').first().show();
        $('[name="variant_id"]').on('click', function(){
          $('.assemblies_variant').hide();
          $('.assemblies_for_variant_' + $(this).val()).show();
        });
      }).call(this);
    <% end %>
  </div>
<% end %>