<% if order.line_items.assemblies.any? %>
  <fieldset class="no-border-bottom">
    <legend align="center" class="" data-hook="">
      <%= I18n.t('spree.product_bundles') %>
    </legend>
  </fieldset>

  <table class="product-bundles index" data-hook="line-items">
    <colgroup>
      <col style="width: 10%;" />
      <col style="width: 20%;" />
      <col style="width: 20%;" />
      <col style="width: 15%;" />
    </colgroup>

    <thead>
      <tr>
        <th colspan="2"><%= Spree::LineItem.human_attribute_name(:description) %></th>
        <th><%= Spree::LineItem.human_attribute_name(:price) %></th>
        <th><%= Spree::LineItem.human_attribute_name(:quantity) %></th>
        <th><%= Spree::LineItem.human_attribute_name(:total) %></th>
        <th class="orders-actions actions" data-hook="admin_order_form_line_items_header_actions">&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% order.line_items.assemblies.each do |item| %>
        <tr class="" data-item-quantity="<%= item.quantity %>">
          <td class="item-image"><%= image_tag main_app.url_for(item.variant.images.first.url(:mini)) %></td>
          <td class="item-name">
            <%= item.product.name %> - <%= item.variant.sku %> <br />
            <%= "(" + variant_options(item.variant) + ")" if item.variant.option_values.any? %>
          </td>
          <td class="item-price align-center">
            <%= item.single_money.to_html %>
          </td>
          <td class="line-item-qty-show align-center">
            <%= item.quantity %>
          </td>

          <td class="line-item-qty-edit is-hidden">
            <%= number_field_tag :quantity, item.quantity, min: 0, class: 'line_item_quantity', size: 5 %>
          </td>

          <td class="item-total align-center">
            <%= item.display_amount.to_html %>
          </td>
          <td class="cart-item-delete actions" data-hook="cart_item_delete">
            <% unless item.any_units_shipped? %>
              <% if can? :update, item %>
                <%= link_to_with_icon 'arrow-left', I18n.t('spree.cancel'), '#', class: 'cancel-line-item btn btn-default btn-sm', no_text: true, data: { action: 'cancel' }, title: I18n.t('spree.actions.cancel') %>
                <%= link_to_with_icon 'save', I18n.t('spree.create'), '#', class: 'save-line-item btn btn-success btn-sm', no_text: true, data: { 'line-item-id': item.id, action: 'save' }, title: I18n.t('spree.actions.save') %>
                <%= link_to_with_icon 'edit', I18n.t('spree.edit'), '#', class: 'edit-line-item btn btn-primary btn-sm', no_text: true, :data: { action: 'edit' }, title: I18n.t('spree.edit') %>
                <%= link_to_with_icon 'delete', I18n.t('spree.delete'), '#', class: 'delete-line-item btn btn-danger btn-sm', no_text: true, :data: { 'line-item-id': item.id, action: 'remove' }, title: I18n.t('spree.delete') %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>