<% shipment.manifest.each do |item| %>
  <tr class="stock-item" data-item-quantity="<%= item.quantity %>"  data-variant-id="<%= item.variant.id %>">
    <td class="item-image image text-center">
      <%= image_tag main_app.url_for(item.variant.images.first.url(:mini)) %>
    </td>

    <td class="item-name">
      <%= item.variant.product.name %><br><%= "(" + variant_options(item.variant) + ")" if item.variant.option_values.any? %>
      <% if item.variant.sku.present? %>
        <strong><%= I18n.t('spree.sku') %>:</strong> <%= item.variant.sku %>
      <% end %>

      <% if item.part && item.line_item %>
        <strong><%= I18n.t('spree.part_of_bundle', sku: item.product.sku) %></strong>
      <% end %>
    </td>

    <td class="item-price text-center"><%= item.line_item.single_money.to_html %></td>

    <td class="item-qty-show text-center">
      <% item.states.each do |state,count| %>
        <%= count %> x <%= I18n.t('spree.state').downcase %>
      <% end %>
    </td>

    <% unless shipment.shipped? %>
      <td class="item-qty-edit is-hidden">
        <%= number_field_tag :quantity, item.quantity, min: 0, class: "line_item_quantity form-control", size: 5 %>
      </td>
    <% end %>

    <td class="item-total text-center">
      <%= line_item_shipment_price(item.line_item, item.quantity) %>
    </td>

    <td class="cart-item-delete actions actions-3 text-center" data-hook="cart_item_delete">
      <% if((!shipment.shipped?) && can?(:update, item.line_item)) %>
        <%= link_to_with_icon 'pencil', I18n.t('spree.actions.edit'), "#", class: 'edit-item btn btn-default btn-sm', title: I18n.t('spree.actions.edit'), no_text: true %>
        <%= link_to_with_icon 'cancel', I18n.t('spree.actions.cancel'), "#", class: 'cancel-item  btn btn-primary btn-sm', data: { action: 'cancel' }, title: I18n.t('spree.actions.cancel'), style: 'display: none', no_text: true %>
        <%= link_to_with_icon 'ok', I18n.t('spree.actions.save'), "#", class: 'save-item btn btn-success btn-sm', data: {'shipment-number' => shipment.number, 'variant-id' => item.variant.id, action: 'save'}, title: I18n.t('spree.actions.save'), style: 'display: none', no_text: true %>
        <%= link_to_with_icon 'split', I18n.t('spree.split'), "#", class: 'split-item btn btn-primary btn-sm', data: {action: 'split', 'variant-id' => item.variant.id}, title: I18n.t('spree.split'), no_text: true %>
        <%= link_to_with_icon 'delete', I18n.t('spree.delete'), "#", class: 'delete-item btn btn-danger btn-sm', data: { 'shipment-number' => shipment.number, 'variant-id' => item.variant.id, action: 'remove'}, title: I18n.t('spree.delete'), no_text: true %>
      <% end %>
    </td>
  </tr>
<% end %>