<table class="table">
  <thead>
  	<tr>
  	  <th><%= I18n.t('spree.sku') %></th>
  	  <th><%= I18n.t('spree.name') %></th>
      <th><%= I18n.t('spree.options') %></th>
      <th><%= I18n.t('spree.variant') %></th>
      <th><%= I18n.t('spree.qty') %></th>
  	</tr>
  </thead>
  <tbody>
    <% parts.each do |part| %>
      <tr id="<%= dom_id(part, :sel)%>">
        <td><%= part.sku %></td>
        <td><%= part.name %></td>
        <td><%= variant_options part %></td>
        <td><%= variant_including_master_options part.assembly %></td>
        <td><%= text_field_tag :count, part.count, class: "form-control" %></td>
  	    <td class="actions">
          <%= link_to_with_icon(
            'edit',
            I18n.t('spree.edit'),
            set_count_admin_product_part_url(product, part),
            class: 'set_count_admin_product_part_link save-line-item'
          ) %>

          <%= link_to_with_icon(
            'delete',
            I18n.t('spree.delete'),
            remove_admin_product_part_url(product, part),
            class: 'remove_admin_product_part_link delete-resource'
          ) %>
  	    </td>
      </tr>
    <% end %>
    <% if parts.empty? %>
     <tr><td colspan="5"><%= I18n.t('spree.none') %>.</td></tr>
    <% end %>
  </tbody>
</table>